.about_main > h1 {
  font-size: 50px;
  line-height: 80px;
  font-style: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
  font-weight: 900;
}
.about_main > h3 {
  margin-top: 30px;
  font-size: 40px;
  line-height: 40px;
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
  font-weight: 900;
}
.about_main {
  width: 65%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5%;
}

.about_main > img {
  margin-top: 2%;
}

.about_main > p {
  font-size: 20px;
  line-height: 30px;
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
  font-weight: 400;
}
.about_main > img {
  width: 100%;
}

.about_main > p > a {
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .about_main {
    width: 100%;
  }
  .about_main > p {
    font-size: 15px;
  }
  .about_main > img {
    width: 100%;
  }
}
