.contact > h2 {
  font-size: 50px;
  line-height: 80px;
  font-style: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
}
.contact {
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fff;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 5%;
}
.contact > p {
  font-size: 22px;
  line-height: 40px;
  font-family: sans-serif, "Segoe UI", Tahoma, Geneva, Verdana;
  font-weight: 400;
}
.contact > p > a {
  color: blue;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 100%;
  }
  .contact > p {
    font-size: 15px;
  }
}
