.MainDiv_Videos {
  width: 90%;
  margin: auto;
  /* border: 3px solid black; */
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-template-rows: 300px;
  grid-gap: 27px;
  margin-top: 2%;
  margin-bottom: 2%;
}
.insideDiv_Videos {
  padding: 2%;
  border: 1px solid gray;
  border-radius: 10px;
}

.insideDiv_Videos > img {
  height: 70%;
  width: 100%;
  border-bottom: 1px solid gray;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.insideDiv_Videos > p {
  margin-top: 0px;
  font-weight: bold;
}
.insideDiv_Videos:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.insideDiv_Videos_Durantion {
  /* border: 1px solid black; */
  width: 18%;
  height: 8%;
  text-align: center;
  float: right;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.insideDiv_Videos_Durantion > p {
  margin-top: 0px;
}

@media only screen and (max-width: 640px) {
  .MainDiv_Videos {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 300px;
    align-items: center;
  }
}
